* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: #DFDFDF;
  box-sizing: border-box;
}

body {
  display: flex;
  padding-top: 70px;
}

.header {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background-color: #2F3061;
  color: #DFDFDF;
}

.header h1 {
  display: block;
  margin: auto;
  text-transform: uppercase;
}

.container {
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.post {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 5px;
  border: thin solid #ccc;
  border-radius: 50px;
  margin: 10px;
  box-shadow: 5px 5px 15px #ddd;
  transition-duration: 0.25s;

}

.post:hover {
  background-color: #ebeefb;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 10px 5px 15px #ddd;
}

.post-avatar img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  transform: translateY(2px);
}

.post-body {
  text-align: center;
  flex-grow: 1;
  color: #444;
  font-size: 1.5em;
}

.post-body p::before {
  content: "“"
}

.post-body p::after {
  content: "”"
}

.menu {
  display: flex;
  padding: 0;
  justify-content: center;
  background-color: #297373;
}

.menu a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
  color: #DFDFDF;
  text-transform: uppercase;
}

.menu a.active {
  text-decoration: underline;
}

.menu a:hover {
  background-color: #278686;
  font-weight: bold
}

